style.css

.container{
	background-color: #87714D;
}

.imageNav-content .container{
	background-color: white;
}


.navbar{
    max-height: 50px; 
	background-color: #ffffff; 
	font-size: 15px;
}

.navigation .navbar-brand{
	color: white; 
	margin-left: 50px; 
	padding: inherit; 
	font-weight: bold; 
	background-color:#011E41;
}

.dropdown-item{
    color: white; 
}

.dropdown-menu {
    background-color:#87714D; 
}



@media (max-width: 600px){
.navbar-expand-lg{
	background-color:#011E41;
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color: white;  
}
.navbar-brand{
    padding: 10px; 
}

button{
    margin-left: auto; 
}

button:focus {
    outline: 1px dotted;
}
}

.description-content {
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color: black;
	background-color: white;
}

.imageNav-content {
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px 30px 40px;
	color: black;
	background-color: white;
}
.description-header, .imageNav-header {
	padding-top: 15px; 
	padding-left: 4px;
	color:#011E41;
	font-size: 26px;
	font-weight: bold;
}

img{
	width: 100%;
	height: 100%;
}

.description-image {
	float: left;
	width: 60%;
	height: 60%;
}

p{
	color:#87714D;
	font-size: 14px;
	
}



